$bp-largest: 75em;      //1200px
$bp-large: 68.75em;     //1100px
$bp-medium: 56.25em;    //900px
$bp-small: 37.5em;      //600px
$bp-smallest: 31.25em;  //500px

$main-color: #55ACEE;
$alt-color: #292F33;
$white-color: #fff;
$black-color: #000;


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}