.section__ask {
    margin: 1rem;
    padding: 2rem;

    h2 {
        font-size: 4.5rem;
        font-family: inherit;
        font-weight: 400;
        margin: 1rem;
    }

    p {
        font-size: 2rem;
        font-family: inherit;
        font-weight: 400;
    }
}
